{% extends 'bg-base.html' %}
{% load static %}
{% block title %}Apply{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'portal/css/project.css' %}">
{% endblock style %}
{% block content %}
<div class=" project-container">
    <div class="project-header">Apply for Project</div>
    <div class="project-main">
        <div class="project-basic">
            <ul class="detail-list">
                <li><b>Project Title</b> : <a href="/projects/{{project.id}}">{{project.title}}</a></li>
                <li><b>Professor</b> : <a href="{{project.prof.webpage_link}}">{{project.prof.user.first_name}} {{project.prof.user.last_name}}</a></li>
                <li><b>Department</b> : {{project.prof.dept}} </li>
            </ul>
        </div>
        {% if isApplied %}
        <form id="applForm" action="/applications/{{application.id}}/">
            {% csrf_token %}
            <label for="preference">Preference</label>
            <select name="preference" id="preference" value="{{application.preference}}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="sop">Statement of Purpose</label>
            <textarea name="cover_letter" id="sop" cols="30" rows="5">{{application.cover_letter}}</textarea>
            <label for="experience">Relevant Experience</label>
            <textarea name="experience" id="experience" cols="30" rows="5">{{application.experience}}</textarea>
            {% if not is_prof %}
            <!-- TODO: find a better way to display status on both the prof and student side-->
                {% if application.status == status_choices.in_review %}
                <div class="action-container">
                    <button type="submit" class="btn btn-red bold wide-text" formmethod="DELETE">Delete Application</button>
                    <button type="submit" class="btn wide-text bold" formmethod="PATCH">Update Application</button>
                </div>
                {% elif application.status == status_choices.rejected%}
                <div class="action-container">
                    <button class="btn btn-red bold wide-text">{{status_choices.rejected.label}}</button>
                </div>
                {% elif application.status == status_choices.accepted%}
                <div class="action-container">
                    <button class="btn wide-text bold">{{status_choices.accepted.label}}</button>
                </div>
                {% elif application.status == status_choices.on_hold%}
                <div class="action-container">
                    <button class="btn wide-text bold">{{status_choices.on_hold.label}}</button>
                </div>
                {% endif %}
            {% else %}
            <div class="action-container">
                <button type="submit" class="btn btn-red bold wide-text" formmethod="PATCH" value="{{status_choices.rejected}}">Reject Application</button>
                <button type="submit" class="btn wide-text bold" formmethod="PATCH" value="{{status_choices.accepted}}">Accept Application</button>
                <button type="submit" class="btn wide-text bold" formmethod="PATCH" value="{{status_choices.on_hold}}">Put on hold</button>
            </div>
            {% endif %}
            
        </form>
        {% else %}
        <form id="applForm" action="/applications/">
            {% csrf_token %}
            <input hidden name="project" value="{{project.id}}" type="number">
            <label for="preference">Preference</label>
            <select name="preference" id="preference">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="sop">Statement of Purpose</label>
            <textarea name="cover_letter" id="sop" cols="30" rows="5" required></textarea>
            <label for="experience">Relevant Experience</label>
            <textarea name="experience" id="experience" cols="30" rows="5"></textarea>
            <div class="action-container">
                <button type="submit" class="btn wide-text bold" formmethod="POST">Apply Now!</button>
            </div>
        </form>
        {% endif %}
        </form>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
{% if not is_prof %}
<script>
    var getData = () => {
        return $('#applForm').serialize()
    };
</script>
{% endif %}
{% if is_prof or application.status != status_choices.in_review %}
<script>
    var getData = () => {
        return {
        status: $("button[type=submit]:focus").attr('value'),
        };
    }
    $(function () {
        document.querySelectorAll("textarea").forEach(t => t.disabled = true);
        document.querySelectorAll("select").forEach(t => t.disabled = true);
        document.querySelectorAll("input").forEach(t => t.disabled = true);
    });
    
</script>
{% endif %}

<script>
    $(function () {
        var pref = $('#preference').attr('value');
        document.querySelector('#preference').selectedIndex = pref - 1;
        $('#applForm').submit(function (event) {
            const type = $("button[type=submit]:focus").attr('formmethod');
            $.ajax({
                method: type,
                url: $(this).attr('action'),
                data: getData(),
                headers: {
                    'X-CSRFTOKEN': $('#applForm > input[type=hidden]').val(),
                },
                success: (r) => {
                    console.log(r);
                    // TODO add loading screen
                    setTimeout(() => {
                        if (type == 'DELETE')
                            location.href = `{% url 'dashboard' %}`
                        location.href = `/applications/${r.id}`
                    }, 1000);
                },
                error: (e) => {
                    // TODO: Proper error handling!
                    console.error(e);
                }

            });
            return false;
        });
    });
</script>
{% endblock content %}