{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjSeeker - Dashboard</title>
    <link rel="stylesheet" href="{% static 'portal/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/dashboard.css' %}">
    {% block style %}{% endblock style %}
</head>

<body>

    <div class="sidebar-wrapper">
        <script>
            var pic_changed = false;
            const changePic = () => {
                if (!pic_changed) {
                    var pic = document.querySelector('#profile-pic');
                    pic.src = '/static/portal/assets/dp.jpg';
                    pic_changed = true;
                }

            };
        </script>
        <img src="/uploads/user_{{user.id}}/pic.jpg" onerror="changePic()" alt="Profile-Pciture" class="profile-picture" id="profile-pic">
        <h1 class="name">{{user.first_name}} {{user.last_name}}</h1>
        <h3 class="dashboard-heading wide-text">Dashboard</h3>
        <ul class="dash-nav">
            <a href="/projects">
                <li class="dash-links dash-links">Ongoing</li>
            </a>
            <a href="{% url 'applied-projects' %}">
                <li class="dash-links">Applied</li>
            </a>
            <a href="{% url 'bookmarked-projects' %}">
                <li class="dash-links">Bookmarked</li>
            </a>

            <a href="{% url 'student-profile' %}">
                <li class="dash-links">Profile</li>
            </a>
        </ul>
    </div>
    <div class="dashboard-wrapper">
        <div class="top-nav">
            <input type="text" class="search-bar" placeholder="Search for projects">
            <a href="{% url 'logout' %}" class="btn btn-red wide-text bold" id="logout-btn">Logout</a>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}{% endblock %}
    <script>

        var sideBarLinks = document.querySelector("body > div.sidebar-wrapper > ul").children;
        for (let i = 0; i < sideBarLinks.length; i++) {
            const link = sideBarLinks[i];
            if (location.href.replaceAll('/', '') == link.href.replaceAll('/', '')) {
                link.firstElementChild.classList.add('dash-active')
                break;
            }
        }
    </script>
</body>

</html>