{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
<div class="project-grid">
    {% for proj in projects %}
    <div class="project-card">
        <h2 class="project-title">{{ proj.title|truncatewords:4 }}</h2>
        <h3 class="prof-name">Prof. {{ proj.prof.user.first_name }} {{proj.prof.user.last_name}}</h3>
        <p class="project-desc">{{ proj.description|truncatewords:30 }}</p>
        <a href="{% url 'project-detail' proj.id %}" class="btn btn-xs card-btn wide-text bold">More</a>
    </div>
    {% endfor %}
</div>
{% endblock %}