<!-- templates/home.html-->
{% extends 'bg-base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'portal/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="main-section">
    <h1 class="tagline">Find <span>Projects</span> you'll love</h1>
    <p class="subtext">IITD's own project collaboration portal -</p>
    <p class="subtext">Find what you love and start building.</p>
    <div class="divider-line"></div>
    <div class="cta-grid">
        <a href="/projects" class="cta cta1">Find Projects</a>
        <a href="#" class="cta cta2">Register</a>
    </div>
</div>
{% endblock %}