{% extends 'dashboard-base.html' %}
{% load static %}
{% block content %}
<div class="profile-container">
    <form id="profile-form" method="PUT" action="/students/{{student.id}}/">
        {% csrf_token %}
        <div class="inline">
            {% if student.pic is not None %}
            <a href="{{student.pic}}" class="btn">View Picture</a>
            <a href="#" class="btn btn-red" onclick="deleteDoc('pic')"> Delete Picture</a>
            {% endif %}

            <div style="display: flex; flex-direction: column;">
                <label for="picture">Profile Picture</label>
                <input type="file" name="pic" id="picture" onchange="checkJpeg(this)">
            </div>
            <div style="display: flex; flex-direction: column;">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="{{student.user.first_name}} {{student.user.last_name}}" disabled>
            </div>
        </div>
        <label for="bio">Bio</label>
        <textarea name="bio" id="bio" cols="30" rows="2">{{student.bio}}</textarea>

        <label for="cgpa">CGPA</label>
        <input type="text" name="cgpa" id="cgpa" value="{{student.cgpa}}">

        <label for="resume">Resume</label>
        <div class="inline">
            {% if student.cv is not None %}
            <a href="{{student.cv}}" class="btn">View Resume</a>
            <a href="#" class="btn btn-red" onclick="deleteDoc('cv')"> Delete Resume</a>
            {% endif %}
        </div>

        <input type="file" name="cv" id="cv" onchange="checkPdf(this)">

        <label for="transcript">Transcript</label>
        <div class="inline">
            {% if student.transcript is not None %}
            <a class="btn" href="{{student.transcript}}">View Transcript</a>
            <a href="#" class="btn btn-red" onclick="deleteDoc('transcript')"> Delete Transcript</a>
            {% endif %}
        </div>

        <input type="file" name="transcript" id="transcript">

        <label for="interests">Interests</label>
        <div class="int-searchbar">
            <input type="text" name="intDummy" autocomplete="off">
            <ul class="search-suggestions">
                <li class="suggestions">No results found</li>
            </ul>
        </div>
        <input type="hidden" name="interests" id="interests" value="{{ interest_text }}">
        <div class="tag-container">
            {% for interest in student.interests %}
            <div class="tag" onclick="handleTagDelete(this)">{{interest.research_field}}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn wide-text bold">Save</button>
    </form>

</div>
{% endblock %}

{% block script %}
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'portal/js/profile.js' %}"></script>
{% endblock %}