{% extends 'bg-base.html' %}
{% load static %}
{% block title %}Apply{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'portal/css/project.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="{% static 'portal/css/modal.css' %}">
{% endblock style %}
{% block content %}
<div class=" project-container">
    {% if project.id is None %}
    <div class="project-header">Create new Project</div>
    {% else %}
    <div class="project-header">Edit Project</div>
    {% endif %}

    <div class="project-main">
        {% if project.id is None %}
        <form id="projectForm" action="{% url 'project-list' %}">
            {% else %}
            <form id="projectForm" action="{% url 'project-detail' project.id %}">
                {% endif %}
                {% csrf_token %}
                <div class="form-section" id="basic-section">
                    <legend class="section-heading">Basic Details</legend>
                    <label for="title">Project Title </label>
                    <input type="text" name="title" id="title" value="{{project.title}}">
                    <label for="description">Describe the Project</label>
                    <textarea name="description" id="description" cols="30" rows="4">{{project.description}}</textarea>
                    <label id="project_type" for="project_type">Type of Project</label>

                    {% for ptype in project_types %}
                    <span class="check-label">
                        {% if ptype.1 in project.project_type %}
                        <input type="checkbox" name="project_type" id="{{ptype.1}}" value="{{ptype.1}}" checked="true">
                        {% else %}
                        <input type="checkbox" name="project_type" id="{{ptype.1}}" value="{{ptype.1}}">
                        {% endif %}
                        {{ptype.1}}
                    </span>
                    {% endfor %}

                    <label id="duration" for="duration">Duration of Project</label>

                    {% for d in durations %}
                    <span class="check-label">
                        {% if d.0 in project.duration %}
                        <input type="checkbox" name="duration" id="{{d.1}}" value="{{d.0}}" checked="true">
                        {% else %}
                        <input type="checkbox" name="duration" id="{{d.1}}" value="{{d.0}}">
                        {% endif %}
                        {{d.1}}
                    </span>
                    {% endfor %}

                    <!-- <input type="text" name="duration" id="duration" value="{{project.duration}}"> -->
                    <label for="vacancy">Vacancy (Number of People)</label>
                    <input type="number" name="vacancy" id="vacancy" value="{{project.vacancy}}" min="0">
                    <div class="action-container">
                        {% if project.id is not None %}
                        <div class="left-actions actions">
                            <button type="submit" class="btn btn-green bold wide-text" formmethod="PUT">Update Project</button>
                        </div>
                        {% endif %}
                        <div class="right-actions actions">
                            <img id="loader" src="{% static 'portal/assets/loader.svg' %}" alt="loader" style="display: hidden;">
                            <button class="btn wide-text" data-target="elig-section" type="button">NEXT</button>
                        </div>
                    </div>
                </div>
                <div class="form-section" id="elig-section" style="display: none;">
                    <legend class="section-heading">Eligibility Requirements</legend>
                    <label for="cpi">Minimum CPI Required</label>
                    <input type="text" name="cpi" id="cpi" value="{{project.cpi}}">
                    <label id="degree" for="degree">Eligible Degrees</label>

                    {% for degree in degrees %}
                    <span class="check-label">
                        {% if degree.1 in project.degree %}
                        <input type="checkbox" name="degree" id="{{degree.1}}" value="{{degree.1}}" checked="true">
                        {% else %}
                        <input type="checkbox" name="degree" id="{{degree.1}}" value="{{degree.1}}">
                        {% endif %}
                        {{degree.1}}
                    </span>
                    {% endfor %}

                    <label for="min_year">Minimum Year</label>
                    <input type="text" name="min_year" id="min_year" value="{{project.min_year}}">
                    <label for="prereq">Project Prerequisites</label>
                    <textarea name="prereq" id="prereq" cols="30" rows="4">{{project.prereq}}</textarea>
                    <div class="action-container">
                        {% if project.id is not None %}
                        <div class="left-actions actions">
                            <button type="submit" class="btn btn-green bold wide-text" formmethod="PUT">Update Project</button>
                        </div>
                        {% endif %}
                        <div class="right-actions actions">
                            <img id="loader" src="{% static 'portal/assets/loader.svg' %}" alt="loader" style="display: hidden;">
                            <button class="btn btn-red wide-text" data-target="basic-section" type="button">Go Back</button>
                            <button class="btn wide-text" data-target="more-section" type="button">NEXT</button>
                        </div>
                    </div>
                </div>
                <div class="form-section" id="more-section" style="display: none;">
                    <legend class="section-heading">More Details</legend>
                    <label for="learning_outcome">Learning Outcome and Objectives</label>
                    <textarea name="learning_outcome" id="learning_outcome" cols="30" rows="4">{{project.learning_outcome}}</textarea>
                    <label for="selection_procedure">Selection Procedure</label>
                    <textarea name="selection_procedure" id="selection_procedure" cols="30" rows="4">{{project.selection_procedure}}</textarea>
                    <label for="last_date">Last date of applying</label>
                    <input type="datetime-local" min="2020-09-14" name="last_date" id="last_date" value="{{project.last_date}}" style="width: 30%;">
                    <label for="is_paid">Will a stipend be offered? (Check if applicable)</label>

                    {% if project.is_paid %}
                    <input type="checkbox" name="is_paid" id="is_paid" value="true" checked="true">
                    {% else %}
                    <input type="checkbox" name="is_paid" id="is_paid" value="true">
                    {% endif %}
                    <label for="tags">Project Tags (Helps students find your projects)</label>
                    <div class="int-searchbar">
                        <input type="text" name="intDummy" autocomplete="off" style="width:100%;">
                        <ul class="search-suggestions">
                        </ul>
                    </div>
                    <input type="hidden" name="tags" id="interests" value="{{ interest_text }}">
                    <div class="tag-container">
                        {% for tag in project.tags %}
                        <div class="tag" onclick="handleTagDelete(this)">{{tag.research_field}}</div>
                        {% endfor %}
                    </div>
                    <div class="action-container">
                        <div class="right-actions actions">
                            <img id="loader" src="{% static 'portal/assets/loader.svg' %}" alt="loader" style="display: hidden;">
                            {% if project.id is None %}
                            <button class="btn wide-text" data-target="elig-section" type="button">Go Back</button>
                            <button type="submit" class="btn btn-green bold wide-text" formmethod="POST">Create Project</button>
                            {% else %}
                            <button type="submit" class="btn btn-green bold wide-text" formmethod="PUT">Update Project</button>
                            <a href="#delete-modal" rel="modal:open" class="btn btn-red bold wide-text">Delete project</a>
                            <button class="btn wide-text" data-target="elig-section" type="button">Go Back</button>
                        </div>
                        <div id="delete-modal" class="modal">
                            <div class="modal-title">
                                <p>Are you sure you want to delete this project?</p>
                            </div>
                            <div class="modal-actions">
                                <button id="delBtn" type="submit" class="btn btn-red bold wide-text" formmethod="DELETE">Delete</button>
                                <a class="btn wide-text bold" rel="modal:close">Close</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
    </div>
</div>
<div class="message-container" style="display: none;">
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/jquery.modal.min.js' %}"></script>
<script src="{% static 'portal/js/tags.js' %}"></script>
<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    const activeErrors = [];

    $('#delBtn').click(() => {
        $('#projectForm').submit();
    })

    const messageTemplate = $('.message-container');

    $('button[type="button"]').click(function (e) {
        $('.form-section').fadeOut(300);
        $(`#${this.dataset.target}`).delay(300).fadeIn(200);
    });
    $(function () {
        try {
            var last_date = $('#last_date');
            var d = new Date(last_date.attr('value'));
            var date_value = new Date(d.getTime() - d.getTimezoneOffset() * 1000 * 60).toISOString().substring(0, 16)
            last_date.val(date_value);
        } catch (error) {

        }

        $('#projectForm').submit(function (event) {

            $('#loader').fadeIn(50);
            const type = $("button[type=submit]:focus").attr('formmethod');
            $.ajax({
                method: type,
                url: $(this).attr('action'),
                data: $(this).serialize(),
                headers: {
                    'X-CSRFTOKEN': $('#projectForm > input[type=hidden]').val(),
                },
                success: (r) => {
                    $('#loader').fadeOut(50);
                    const message = messageTemplate.clone();
                    message.html('<p>Success!</p>')

                    $('#more-section').append(message);
                    message.fadeIn(250);
                    // TODO add loading screen
                    setTimeout(() => {
                        try {
                            location.href = `/projects/${r.id}/edit`
                        } catch (error) {
                            location.href = '/dashboard'
                        }

                    }, 2000);
                },
                error: (e) => {
                    $('#loader').fadeOut(50);
                    // TODO: proper error handling if some required fields are missing
                    if (activeErrors.length == 0) {
                        const errorContainer = messageTemplate.clone();
                        errorContainer.addClass('error');
                        errorContainer.html('<p>Please re-check the form for errors and correct them</p>');
                        $('#projectForm').append(errorContainer);
                        errorContainer.fadeIn(250);
                    }

                    const errors = JSON.parse(e.responseText);

                    Object.keys(errors).forEach((key) => {
                        if (!activeErrors.includes(key)) {
                            $(`#${key}`).css({ 'border': '2px solid rgba(255, 57, 57, 0.523)', 'background-color': ' rgba(255, 128, 128, 0.349)' });
                            $(`#${key}`).after(`<span class="error-text">${errors[key]}</span>`)
                            activeErrors.push(key);
                        }
                    })
                }
            });
            return false;
        });
    });
</script>
{% endblock %}