{% extends 'bg-base.html' %}
{% load static %}
{% block title %}Project Search{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'portal/css/search.css' %}">
<link rel="stylesheet" href="{% static 'portal/css/dashboard.css' %}">
{% endblock %}
{% block content %}
<div class="search-grid">
    <div class="col1">
        <h2 class="page-heading wide-text bold">Filters</h2>
        <div class="filter-container">
            <h4 class="filter-header">By Deparment</h4>
            <div class="filter-main">
                {% for dept in depts %}
                <label for="{{dept.0}}"><input type="checkbox" name="{{dept.0}}" id="{{dept.0}}" onchange="filterByDept()">{{dept.1}}</label>
                {% endfor %}
            </div>
        </div>
        <div class="filter-container">
            <h4 class="filter-header">By Nature</h4>
            <div class="filter-main">
                <label for="cse"><input type="checkbox" name="cse" id="cse">Major Project</label>
                <label for="cse"><input type="checkbox" name="cse" id="cse">Minor Project</label>
                <label for="cse"><input type="checkbox" name="cse" id="cse">NGU Design Credits</label>
            </div>
        </div>
        <div class="filter-container">
            <h4 class="filter-header">By Type</h4>
            <div class="filter-main">
                <label for="cse"><input type="checkbox" name="cse" id="cse">SURA</label>
                <label for="cse"><input type="checkbox" name="cse" id="cse">DISA</label>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="row">
            <input type="text" name="search" id="projSearch" onkeyup="searchProjects()" placeholder="SEARCH FOR PROJECTS">
            <button class="bold" id="filterBtn" type="button">Sort By</button>
        </div>
        <img id="loader" src="{% static 'portal/assets/loader2.svg' %}" alt="loader">
        <div class="project-grid" style="display: none;">
            <div id="cardTemplate" style="display: none;" class="project-card">
                <h2 class="project-title"></h2>
                <h3 class="prof-name"></h3>
                <p class="project-desc"></p>
                <a href="" class="btn btn-xs card-btn wide-text bold">More</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    var depts = [];
    var searchTerm = "";
    var visibleData = {};

    var projGrid = $('.project-grid');
    const cardTemplate = $('#cardTemplate');

    $(function () {
        searchProjects();
        $('#loader').fadeOut(200);
        $('.project-grid').delay(200).fadeIn(200);
    });

    const filterByDept = () => {
        const dept = this.event.target.id;
        if (this.event.target.checked) {
            if (!depts.includes(dept)) {
                depts.push(dept);
            }
        } else {
            depts = depts.filter((d) => d != dept);
        }

        sendRequest();
        return false;

    }
    const searchProjects = () => {
        try {
            searchTerm = this.event.target.value;
        } catch (error) {
            searchTerm = ''
        }
        sendRequest();
        return false;
    };

    const queryBuilder = () => {
        let query = `title__icontains=${searchTerm}`;
        if (depts.length == 0) {
            return query;
        }
        query += '&prof__dept=';
        query += depts.join('&prof__dept=');
        return query;
    }

    const sendRequest = () => {
        $.ajax({
            method: 'GET',
            url: `/projects?${queryBuilder()}`,

            success: (r) => {
                updateData(r);
            },
            error: (e) => {
                console.error(e);
            }

        });
    }



    const truncate = (str, no_words) => {
        return str.split(" ").splice(0, no_words).join(" ") + " ...";
    }

    const updateData = (data) => {
        visibleData = data;
        console.log(visibleData);

        displayData();
    }
    const displayData = () => {

        var projGridChildren = projGrid.children();
        for (let i = 0; i < projGridChildren.length; i++) {
            const c = projGridChildren[i];
            if (c.style.display != 'none') {
                c.remove();
            }
        }

        if (visibleData.projects.length == 0) {
            projGrid.append('<h2 style="color:white;">No projects found for this section!</h2>');
            return;
        }
        visibleData.projects.forEach((proj) => {
            var newNode = cardTemplate.clone();
            newNode[0].style.display = "flex";
            var children = newNode.children();
            children[0].innerText = truncate(proj.title, 4);
            children[1].innerText = `Prof. ${proj.prof.user.first_name} ${proj.prof.user.last_name}`;
            children[2].innerText = truncate(proj.description, 30);
            children[3].href = `/projects/${proj.id}/`;
            projGrid[0].appendChild(newNode[0]);
        })


    };

    const sortBy = (key, reverse) => {
        if (!key)
            key = 'id'
        if (!reverse)
            reverse = false;

        if (visibleData.projects.length == 0)
            return;

        const isDate = key.search('date') !== -1;
        console.assert(Object.keys(visibleData.projects[0]).includes(key))

        visibleData.projects.sort((a, b) => {
            const aKey = (isDate) ? new Date(a[key]) : a[key];
            const bKey = (isDate) ? new Date(b[key]) : b[key];

            if (aKey < bKey) {
                return (reverse) ? 1 : -1;
            }
            if (aKey > bKey) {
                return (reverse) ? -1 : 1;
            }
            return 0;
        });

        displayData();
    };


</script>
{% endblock %}