{% extends 'bg-base.html' %}
{% load static %}
{% block title %}Project Search{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'portal/css/search.css' %}">
<link rel="stylesheet" href="{% static 'portal/css/dashboard.css' %}">
{% endblock %}
{% block content %}
<div class="search-grid">
    <div class="col1">
        <h2 class="page-heading wide-text bold">Filters</h2>
        <div class="filter-container">
            <h4 class="filter-header">By Deparment</h4>
            <div class="filter-main">
                <label for="cse"><input type="checkbox" name="cse" id="cse">Computer Science</label>
                <label for="ee"><input type="checkbox" name="ee" id="e">Electrical Engineering</label>
                <label for="ch"><input type="checkbox" name="ch" id="ch">Chemical Engineering</label>
                <label for="mt"><input type="checkbox" name="mt" id="mt">Mathematics</label>
                <label for="me"><input type="checkbox" name="me" id="me">Mechanical Engineering</label>
                <label for="me"><input type="checkbox" name="me" id="me">Aerospace Engineering</label>
                <label for="me"><input type="checkbox" name="me" id="me">Applied Mechanics</label>
            </div>
        </div>
        <div class="filter-container">
            <h4 class="filter-header">By Nature</h4>
            <div class="filter-main">
                <label for="cse"><input type="checkbox" name="cse" id="cse">Major Project</label>
                <label for="cse"><input type="checkbox" name="cse" id="cse">Minor Project</label>
                <label for="cse"><input type="checkbox" name="cse" id="cse">NGU Design Credits</label>
            </div>
        </div>
        <div class="filter-container">
            <h4 class="filter-header">By Type</h4>
            <div class="filter-main">
                <label for="cse"><input type="checkbox" name="cse" id="cse">SURA</label>
                <label for="cse"><input type="checkbox" name="cse" id="cse">DISA</label>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="row">
            <input type="text" name="search" id="projSearch" placeholder="SEARCH FOR PROJECTS">
            <button class="bold" id="filterBtn" type="button">Sort By</button>
        </div>
        <div class="project-grid">
            {% for proj in projects %}
            <div class="project-card">
                <h2 class="project-title">{{ proj.title|truncatewords:4 }}</h2>
                <h3 class="prof-name">Prof. {{ proj.prof.user.first_name }} {{proj.prof.user.last_name}}</h3>
                <p class="project-desc">{{ proj.description|truncatewords:30 }}</p>
                {% if is_prof %}
                <a href="/projects/{{proj.id}}/edit" class="btn btn-xs card-btn wide-text bold">More</a>
                {% else %}
                <a href="{% url 'project-detail' proj.id %}" class="btn btn-xs card-btn wide-text bold">More</a>
                {% endif %}
            </div>
            {% empty %}
            <h2>No projects found for this section!</h2>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}