.tabs {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.tab-btn {
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

/* .tab-btn::after {
    position: absolute;
    content: '';
    bottom: -5px;
    height: 4px;
    left: 10%;
    background: var(--primary-blue);
    border-radius: 1px;
    width: 80%;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
} */

.tab-active {
    background: var(--primary-blue);
    color: white;
    -webkit-box-shadow: 0px 18px 17px -15px rgba(31,91,255,0.55);
    -moz-box-shadow: 0px 18px 17px -15px rgba(31,91,255,0.55);
    box-shadow: 0px 18px 17px -15px rgba(31,91,255,0.55);
}

.tab-btn:not(.tab-active):hover {
    background-color: rgb(0, 125, 228);
    color: white;
    -webkit-box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.45);
}

/* .tab-btn:not(.tab-active):hover::after {
    background: var(--sec-blue);
    transform: scaleX(1); */
}