.main-section {
    margin-top: 150px;
}

.main-section > .tagline {
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
    letter-spacing: 2.5px;
    margin-bottom: 2rem;
}

.tagline span {
    font-family: 'Raleway';
    color: #ffb1b1;
    text-shadow: 0 4px 5px black;
}

.main-section .subtext {
    font-size: 1.4rem;
    font-weight: 400;
}

.divider-line {
    height: 1px;
    background-color: white;
    width: 40%;
    margin: 2rem 0;
}

.cta-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    gap: 2rem;
}

.cta {
    color: white;
    text-align: center;
    background-color: #0071da;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.cta:hover {
    filter: brightness(70%);
    transform: translateY(-3px);
}

.cta1 {
    background-color: #da0041;
}

.cta2 {
    background-color: #0071da;
}

@media (max-width: 500px) {
    .main-section > .tagline {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .main-section .subtext {
        font-size: 1rem;
    }

    .divider-line {
        margin: 1.25rem 0;
    }

    .cta-grid {
        width: 300px;
        gap: 1.5rem;
    }

    .cta-grid .btn {
        font-size: 12px;
    }
}
