@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Raleway:wght@400;500;600;700&display=swap');

* {
    --primary-blue: #008ecb;
    --primary-red: #ff4b4b;
    --bg-grey: #f2f2f2;
    --sec-blue: #0071da;
    --crimson-red: #da0041;
    --bright-blue : #0487FF;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

button {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.wide-text {
    letter-spacing: 3px;
}

.bold {
    font-weight: 600;
}

.btn {
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--primary-blue);
    color: white;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    filter: brightness(90%);
}

.btn-xs {
    padding: 5px 15px;
    font-size: 0.6rem;
}

.round {
    border-radius: 500px;
}

.btn-red {
    background-color: var(--primary-red);
}

.navbar-custom nav {
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: space-between;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.nav-link-custom {
    margin-left: 2.5rem;
    color: white;
    padding: 0;
    text-decoration: none;
}

.nav-link-custom:hover {
    text-decoration: none;
    color: inherit;
}

#login-btn {
    border: 3px solid white;
    border-radius: 1000px;
    padding: 8px 40px;
    transition: all 200ms ease-in-out;
}

#login-btn:hover {
    background-color: #fff;
    color: black;
}

.blur-bg {
    background: url(/static/portal/assets/main-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
} 

.blur-drop {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
}

.home {
    z-index: 20000;
    height: 100vh;
    color: white;
}

.root-container {
    padding: 2.5rem 0;
    margin: auto;
    width: 85%;
}

@media (max-width: 720px) {
    .root-container {
        width: 90%;
        padding-top: 1.5rem;
    }

    .nav-links {
        display: none;
    }
}
