.modal {
    padding: 15px 20px;
}

.modal-title {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.modal-actions {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form textarea {
    margin-bottom: 16px;
}
