.search-grid {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 3rem;
    margin-top: 3rem;
}

.page-heading {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 3.6rem;
}

.filter-container {
    border-radius: 10px;
    background-color: rgba(0, 132, 255, 0.37);
    color: black;
    margin-bottom: 2rem;
}

.filter-header {
    padding: 8px 15px;
    color: white;
    letter-spacing: 1.5px;
}

.filter-main {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
}

label {
    margin: 2px 0;
}

input[type='checkbox'] {
    margin-right: 1rem;
    vertical-align: middle;
}

.row {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 2rem;
}

input[name='intDummy'] {
    position: relative;
    margin: 10px 0 0;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(224, 240, 255);
    padding: 5px 10px;
}

#projSearch {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 18px;
    font-size: 14px;
    -webkit-box-shadow: 0px 7px 15px -6px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 7px 15px -6px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 7px 15px -6px rgba(0, 0, 0, 0.34);
}

#projSearch::placeholder {
    letter-spacing: 3px;
}

#filterBtn {
    border-radius: 5px;
    color: black;
    background-color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#loader {
    display: flex;
    width: 200px;
    margin: auto;
    margin-top: 20%;
}
